// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.white-background {
    background-color: white;
}

.new-button {
    background-color: #74C557;
    color: white;
}

.blue-text {
    color: #407CCB;
}
.fix-scroll {
  position: fixed;
  top: 0;
}
// top nav styling
#top-nav {
    display: flex;
    align-items: center;
    input, li {
        margin-left: 20px;
    }
    input {
      width: 360px;
    }
}
// repo nav
.scroll-nav {
  border-bottom: 1px solid #ECECEC;
  margin-bottom: 10px;
}
.repo-nav {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
    color: #5F5F5F;

    li {
        margin: 0 20px;
    }
}

.repo-search {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    input {
      width: 350px;
    }
    .menu {
      background-image: linear-gradient(#fcfcfc, #eee);
      border: 1px solid #d5d5d5;
    }
}

.repo-search-menus {
    display: inline-flex;
}
// profile template
#profile-template {
    h1 {
        font-size: 26px;
        display: block;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
        line-height: 30px;
    }
}

#profile-bar {
    img {
        border-radius: 4%;
    }
    h6 {
      color: #767676;
      font-size: 20px;
    }
    .bio {
      color: #757575;
    }
    button {
      background-image: linear-gradient(#fcfcfc, #eee);
      border: 1px solid #d5d5d5;
    }
}

.avatar-block {
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 10px;
}

#org-section {
  img {
    width: 40px;
    height: 40px;
  }
}
.profile-info {
  border-bottom: 1px solid #ECECEC;
}
// repos template and section

#repos-template {
    h4 {
        color: #4078c0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
    }

    p {
        margin-bottom: 10px;
        color: #767676;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
    }
}

.repo-links {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding: 20px 0;
    p {
      display: inline-block;
    }
    span {
      float: right;
      color: #767676;
    }
}

// footer styling
footer {
    border-top: 1px solid #EEEEEE;
    font-size: 12px;
    line-height: 100px;

    ul {
        display: inline-flex;
        align-items: center;
        margin: 0 15px;
    }

    li {
        margin: 0 10px;
        color: #4095CF;
    }

    img {
        font-size: 10px;
        margin-left: 165px;
    }
}

.right-footer-links {
    float: right;
}
